.container {
    width: 1484px;
    outline: solid 1px red;
    margin: 0 auto;
    background-color: white;

}

.background {
    background-image: url(imgs/png/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

header {
    width: 100%;
    /* display: flex; */
    /* margin:  0 auto; */
    display: flex;
    align-items: center;
    background-color: white;
    height: 80px;
}

.logo_img {
    width: 93px;
    height: 38.15px;
    padding-right: 110.25px;
}

body {
    /* background-image: url(imgs/back.png);
    background-size: cover;
    background-repeat: no-repeat; */
    margin: 0;
}

.for_gap {
    width: 1484px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    gap: 69.3px;
    padding-right: 673px;
}

.sun_and_moon {
    display: flex;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    outline: solid 1px black;
    width: 20px;
    height: 20px;
    margin-top: 1px;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* padding: 0; */

}

.sun_img {
    margin: 0 auto;
    /* margin-left: -0.01px; */
}

.sun_and_moon_back {
    /* margin-top: -px; */
    background-color: #7A7A7A;
    border-radius: 11px;
    width: 40px;
    height: 22px;
    margin-right: 69.3px;
}

.interractive {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
}

.our_team {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.contacts {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.welcome {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.popular_interactive {
    margin: 0;
}

.popular_interactive {
    font-size: 24px;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 49px;
    padding-bottom: 49px;
}

.line {
    width: 730px;
    margin: 0 auto;
    height: 1px;
    background-color: black;
}

.check_year {
    font-size: 16px;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inp_one_in_4 {
    background-color: #D7D7D7;
    border-radius: 20px;
    border: none;
    width: 215px;
    height: 35px;
    box-shadow: 3px 3px 0 #0000003f;
    padding-left: 10px;
}

.inp_one_in_4:focus {
    outline: none;
    border: none;
}

.inp_one_in_4::placeholder {
    color: #7E7E7E;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* padding-left: 10px; */
    padding-top: 10px;
}

.lupa_btn {
    background-color: black;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 37px;
    width: 35px;
    cursor: pointer;
    margin-left: -35px;

}

.form_vysokosnyi {
    display: flex;
    align-items: center;
    padding-left: 354px;
}

.ul_vysokosnyi {
    display: flex;
    align-items: center;
    gap: 343px;
    padding-bottom: 36px;
}

.you_was_born {
    color: #039900;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ul_game_with_pc {
    display: flex;
    align-items: center;
    gap: 387px;
    padding-bottom: 36px;
}

.form_game2 {
    display: flex;
    align-items: center;
    padding-left: 354px;
}

.inp_guess_num {
    background-color: #D7D7D7;
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 35px;
    box-shadow: 3px 3px 0 #0000003f;
    padding-left: 10px;

}

.inp_guess_num:focus {
    outline: none;
    border: none;
}

.inp_guess_num::placeholder {
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* padding-left: 10px; */
    padding-top: 10px;
    color: #7E7E7E;
}

.you_guessed_num {
    color: #039900;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.photos_game_3 {
    display: flex;
    gap: 52px;
    margin: 0;
}

.rock_img {
    width: 60px;
}

.scissors_img {
    width: 60px;
}

.papers_img {
    width: 60px;

}

.for_flex {
    padding-left: 278px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.rahunok {
    display: flex;
    flex-direction: column;
    padding-left: 181.5px;
    margin: 0;
    justify-content: center;
}

.captcher {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.pc {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.you {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.you_won {
    color: #039900;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 36px;
}

.computer_choise {
    width: 182px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #000;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 36px;
    cursor: pointer;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
}

.enter_num {
    background-color: #D7D7D7;
    border-radius: 20px;
    border: none;
    width: 135px;
    height: 35px;
    box-shadow: 3px 3px 0 #0000003f;
    padding-left: 10px;
}

.enter_num:focus {
    outline: none;
    border: none;
}

.action_culc {
    display: flex;
    width: 62px;
    flex-wrap: wrap;
    margin: 0;
    /* padding-bottom: 996px; */
    /* justify-content: space-between; */

}

.plus {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 0 #00000040;
}

.mnozhenya {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 0 #00000040;
}


.minus {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    background-color: #000000;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0 #00000040;
}

.slash {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    background-color: #000000;
    color: white;
    box-shadow: 3px 3px 0 #00000040;
}

.flex_section_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding-bottom: 36px;
}

.equivalent {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    background-color: #000000;
    color: white;
    /* margin-right: 10px; */
    cursor: pointer;
    box-shadow: 3px 3px 0 #00000040;
}

.result {
    background-color: #D7D7D7;
    border-radius: 20px;
    border: none;
    width: 135px;
    height: 35px;

    padding-left: 10px;
    color: #7E7E7E;
    display: flex;
    align-items: center;
    cursor: context-menu;
}

.lupa_btn_section5 {

    background-color: black;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 37px;
    width: 35px;
    cursor: pointer;
    margin-left: -35px;
}

.form_game5 {
    display: flex;
    align-items: center;
    /* padding-left: 354px; */
}

.ul_section_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding-bottom: 36px;
}

.answer {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.dinisour_timeless {
    padding-top: 36px;
    width: 980px;
    /* margin: 0 auto; */
    /* text-align: center; */
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

.football_peach {
    width: 980px;

}

.ball {
    width: 68px;
    /* margin-top: -00px; */
}

.football_div {
    text-align: center;
}

.ball_div {
    margin-top: -188px;
    margin-bottom: 188px;
}

.margin {
    text-align: center;
}

.three_numbers {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.the_biggest_num {
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    padding: 36px 0;
}

.kiril_foto {
    width: 150px;
    /* padding-bottom: 20px; */
    border-radius: 20px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}

.info_student {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin: 0;
}

.name {
    padding-top: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.info_text {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 63px;
    margin: 0;
}

.fake_img {
    width: 100px;
    height: 100px;
}

/* 
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */