.container {
    width: 1090px;
    outline: solid 1px red;
    margin: 0 auto;
    background-color: white;

}

.background {
    background-image: url(imgs/png/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

header {
    width: 100%;
    /* display: flex; */
    /* margin:  0 auto; */
    display: flex;
    align-items: center;
    background-color: white;
    height: 80px;
}

.logo_img {
    width: 93px;
    height: 38.145px;
    padding-right: 81px;
}

body {
    /* background-image: url(imgs/back.png);
    background-size: cover;
    background-repeat: no-repeat; */
    margin: 0;
}

.for_gap {
    width: 1090px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    gap: 50px;
    padding-right: 361px;
}

.sun_and_moon {
    display: flex;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    outline: solid 1px black;
    width: 20px;
    height: 20px;
    margin-top: 1px;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* padding: 0; */

}

.sun_img {
    margin: 0 auto;
    /* margin-left: -0.01px; */
}

.sun_and_moon_back {
    /* margin-top: -px; */
    background-color: #7A7A7A;
    border-radius: 11px;
    width: 40px;
    height: 22px;
    margin-right: 51px;
}

.interractive {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
}

.our_team {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.contacts {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.welcome {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.popular_interactive {
    margin: 0;
}

.popular_interactive {
    font-size: 24px;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 49px;
    padding-bottom: 49px;
}

.line {
    width: 536px;
    margin: 0 auto;
    height: 1px;
    background-color: black;
}

.check_year {
    font-size: 16px;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inp_one_in_4 {
    background-color: #D7D7D7;
    border-radius: 20px;
    border: none;
    width: 215px;
    height: 35px;
    box-shadow: 3px 3px 0 #0000003f;
    padding-left: 10px;
}

.inp_one_in_4:focus {
    outline: none;
    border: none;
}

.inp_one_in_4::placeholder {
    color: #7E7E7E;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* padding-left: 10px; */
    padding-top: 10px;
}

.lupa_btn {
    background-color: black;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 37px;
    width: 35px;
    cursor: pointer;
    margin-left: -35px;

}

.form_vysokosnyi {
    display: flex;
    align-items: center;
    /* padding-left: 257px; */
}

.ul_vysokosnyi {
    display: flex;
    align-items: center;
    gap: 149px;
    justify-content: center;
    padding-bottom: 36px;
}

.you_was_born {
    color: #039900;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ul_game_with_pc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 202px;
    padding-bottom: 36px;
}

.form_game2 {
    display: flex;
    align-items: center;
    /* padding-left: 354px; */
}

.inp_guess_num {
    background-color: #D7D7D7;
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 35px;
    box-shadow: 3px 3px 0 #0000003f;
    padding-left: 10px;

}

.inp_guess_num:focus {
    outline: none;
    border: none;
}

.inp_guess_num::placeholder {
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* padding-left: 10px; */
    padding-top: 10px;
    color: #7E7E7E;
}

.you_guessed_num {
    color: #039900;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.photos_game_3 {
    display: flex;
    gap: 52px;
    margin: 0;
}

.rock_img {
    width: 60px;
}

.scissors_img {
    width: 60px;
}

.papers_img {
    width: 60px;

}

.for_flex {
    /* padding-left: 278px; */
    display: flex;
    justify-content: center;
    padding-left: 197px;
    margin: 0;
}

.rahunok {
    display: flex;
    flex-direction: column;
    padding-left: 104px;
    margin: 0;
    justify-content: center;
}

.captcher {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.pc {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.you {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.you_won {
    color: #039900;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 36px;
}

.computer_choise {
    width: 182px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #000;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 36px;
    cursor: pointer;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
}

.enter_num {
    background-color: #D7D7D7;
    border-radius: 20px;
    border: none;
    width: 135px;
    height: 35px;
    box-shadow: 3px 3px 0 #0000003f;
    padding-left: 10px;
}

.enter_num:focus {
    outline: none;
    border: none;
}

.action_culc {
    display: flex;
    width: 62px;
    flex-wrap: wrap;
    margin: 0;
    /* padding-bottom: 996px; */
    /* justify-content: space-between; */

}

.plus {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 0 #00000040;
}

.mnozhenya {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 0 #00000040;
}


.minus {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    background-color: #000000;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0 #00000040;
}

.slash {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    background-color: #000000;
    color: white;
    box-shadow: 3px 3px 0 #00000040;
}

.flex_section_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding-bottom: 36px;
}

.equivalent {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    background-color: #000000;
    color: white;
    /* margin-right: 10px; */
    cursor: pointer;
    box-shadow: 3px 3px 0 #00000040;
}

.result {
    background-color: #D7D7D7;
    border-radius: 20px;
    border: none;
    width: 135px;
    height: 35px;

    padding-left: 10px;
    color: #7E7E7E;
    display: flex;
    align-items: center;
    cursor: context-menu;
}

.lupa_btn_section5 {

    background-color: black;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 37px;
    width: 35px;
    cursor: pointer;
    margin-left: -35px;
}

.form_game5 {
    display: flex;
    align-items: center;
    /* padding-left: 354px; */
}

.ul_section_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding-bottom: 36px;
}

.answer {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.dinisour_timeless {
    padding-top: 36px;
    width: 720px;
    /* margin: 0 auto; */
    /* text-align: center; */
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

.football_peach {
    width: 720px;

}

.ball {
    width: 68px;
    /* margin-top: -00px; */
}

.football_div {
    text-align: center;
}

.ball_div {
    margin-top: -188px;
    margin-bottom: 188px;
}

.margin {
    text-align: center;
}

.three_numbers {
    display: flex;
    justify-content: center;
    gap: 38px;
}

.the_biggest_num {
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    padding: 36px 0;
}

.kiril_foto {
    width: 150px;
    /* padding-bottom: 20px; */
    border-radius: 20px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}

.info_student {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin: 0;
}

.name {
    padding-top: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.info_text {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 63px;
    margin: 0;
}

.fake_img {
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.ul_with_scientists {
    display: flex;
    /* text-align: center; */
    width: 577px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 80px; */
    row-gap: 36px;
    column-gap: 59px;
    padding-bottom: 36px;

}

.sort_scientists {
    padding-left: 61px;
    display: flex;
    gap: 36px;
    justify-content: center;
}

.buttons_column1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    outline: solid blue 1px;

}

.buttons_column2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    outline: solid blue 1px;
}



.who_was_born {
    background-color: #000;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    width: 227px;
    height: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.find_year {
    background-color: #000;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    width: 298px;
    height: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sort_scientists_by_alfabet {
    background-color: #000;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    width: 282px;
    height: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.begins_on_s {
    background-color: #000;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    width: 441px;
    height: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lived_years {
    background-color: #000;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    width: 380px;
    height: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.delete_all_scientosts {
    background-color: #000;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    width: 375px;
    height: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.the_newest {
    background-color: #000;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    width: 329px;
    height: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.who_lived_longer_ald_lover {
    background-color: #000;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    width: 368px;
    height: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding-left: 20px;
}

.the_same_first_letters {
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: white;
    border-radius: 20px;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.logo_footer {
    width: 165px;
    height: 70px;
    padding-right: 185px;
}

.footer_ul {
    display: flex;
    width: 1090px;
    margin: 0 auto;
    padding: 75px 0;
    align-items: center;
}

footer {
    background-color: #FFFFFF;
}

.phone {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.num {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.contacts_footer {
    line-height: 20.4px;
    /* padding-right: 187px; */
}

.li2_footer {
    padding-right: 187px;
}

.subscribe_info {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 18px;
}

.gmail_footer {
    display: inline-flex;
    width: 194px;
    padding: 10px 0 10px 10px;
    align-items: flex-start;

    border-radius: 20px;
    background: #D7D7D7D7;
    border: none;
}

.gmail_footer:focus {
    outline: none;
}

.subscribe_button {
    display: inline-flex;

    align-items: flex-start;

    border-radius: 20px;
    background: #000;
    border: none;
    /* color: white; */
    margin-left: 31px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;

    color: #FFF;

    /* font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; */

    /* height: 35px; */
    padding: 10px 0 10px 10px;
    width: 107px;
}

.modal_body {
    width: 576px;
    height: 316px;
    border-radius: 20px;
    background: #FFF;
    outline: solid red 1px;
    /* margin: 0 auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.err {
    position: absolute;
    top: 158px;
    color: red;
    font-size: 10px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: none;
}

.err.show {
    display: block;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004f;
    backdrop-filter: blur(3px);
}

.knife {
    position: absolute;
    top: 154px;
    left: 41px;
}

.playstation {
    position: absolute;
    top: 154px;
    right: 41px;
}

.puzzle {
    position: absolute;
    top: 230px;
    left: 85px;
}

.tic_tac {
    position: absolute;
    top: 230px;
    right: 85px;
}

.hello {
    color: #000;
    text-align: center;

    font-size: 12px;
    line-height: normal;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 46px;
    margin: 0;
    padding-bottom: 42px;
}

.close {
    background-color: rgba(0, 0, 128, 0);
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #000;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
}

.enter_name {
    color: #000;

    display: flex;
    justify-content: center;

    text-align: center;
    /* margin: 0 auto; */
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
}

.enter_name_inp {
    display: inline-flex;
    /* padding: 10px 90px 10px 10px; */
    padding: 10px 0 10px 10px;
    width: 169px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #D7D7D7;
    border: none;
    outline: none;
    /* width: 169px; */
}

.enter_name_inp::placeholder {
    color: #7E7E7E;
    /* width: 169px; */
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.enter_name_inp:focus {
    outline: none;
}

.form_enter_name_inp {
    /* width: 500px; */
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: center;
}

.save {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #000;

    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    border: none;
    cursor: pointer;
}

.modal2 {
    width: 463px;
    height: 245px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: solid red 1px;
    background-color: #FFF;
}


.svgs_modal2 {
    position: absolute;
}

.knife2 {
    top: 69px;
    left: 43px;
}

.playstation2 {
    top: 69px;
    right: 42px;
}

.puzzle2 {
    top: 145px;
    left: 87px;
}

.tic_tac2 {
    top: 145px;
    right: 86px;
}

.thanks {
    color: #000;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 83px;
    left: 138px;
}

.errorFooter {
    color: red;
}

/* 
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */